/* Rate widget thumbsup CSS */

.thumbsup-rating-wrapper {
  display: inline;
  padding: 0;
}

div.thumbsup > form > table > tbody > tr.rating-table-tr {
  border: none;
}

div.thumbsup > form > table > tbody > tr > td.rating-table-td {
  padding: 0;
  border: none;
}

div.thumbsup-rating-wrapper > div.form-type-radio {
  display: inline;
  padding: 0;
}

/* Default button styles, override in widget settings */
div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label {
  display: inline-block;
  padding: 0;
}

div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label-up::before {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  content: "";
  vertical-align: middle;
  background-image: url("../images/thumbs-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label:hover,
div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label:active,
div.thumbsup-rating-wrapper > div > label.thumbsup-rating-label:focus {
  cursor: pointer;
  color: #666;
}

div.thumbsup-rating-wrapper > div > div.rating-option-result {
  display: inline;
  padding: 5px;
  text-align: center;
}

input.thumbsup-rating-input[type="radio"] {
  display: none;
}

button.thumbsup-rating-submit {
  display: none;
}

input.thumbsup-rating-submit {
  display: none;
}
