/* Rate widget yesno CSS */

.yesno-rating-wrapper {
  display: inline;
  padding: 0;
}

div.yesno > form > table > tbody > tr.rating-table-tr {
  border: none;
}

div.yesno > form > table > tbody > tr > td.rating-table-td {
  padding: 0;
  border: none;
}

div.yesno-rating-wrapper > div.form-type-radio {
  display: inline;
  padding: 0;
}

/* Default button styles, override in widget settings */
div.yesno-rating-wrapper > div > label.rating-label {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  vertical-align: baseline;
}

div.yesno-rating-wrapper > div > label.yesno-rating-label {
  display: inline-block;
  width: 40px;
  padding: 0 2px;
  text-align: center;
  color: #666;
  border: 1px solid #ccc;
  background: #eee;
}

div.yesno-rating-wrapper > div > label.yesno-rating-label:hover,
div.yesno-rating-wrapper > div > label.yesno-rating-label:active,
div.yesno-rating-wrapper > div > label.yesno-rating-label:focus {
  color: #666;
}

div.yesno-rating-wrapper > div > label.yesno-rating-label:hover {
  text-decoration: none;
  background: #ddd;
}

div.yesno-rating-wrapper > div > div.rating-option-result {
  display: inline;
  padding: 5px;
  text-align: center;
  vertical-align: baseline;
}

input.yesno-rating-input[type="radio"] {
  display: none;
}

button.yesno-rating-submit {
  display: none;
}

input.yesno-rating-submit {
  display: none;
}
